<%- include('../partials/header') %>

<div style="text-align: center; margin-top: 100px;">
    <h1 style="font-family: 'Cinzel', serif; font-size: 3em; color: #fff;">Genshin Impact TCG Draft</h1>
    <p style="color: #aaa; font-size: 1.2em;">Professional platform for tournaments and scrims.</p>
</div>

<%- include('../partials/footer') %>
